
    .rt-map-section {
        padding: 0px 0px 100px 0px;
        img {
            position: relative;
        }
        .contact-from-wrapper {
            opacity: 1;
            transform: translateX(0) translateY(0);
            .post-comment-form-wrapper  {
                margin-top: -504px;
            }
        }
    }