.post-comment-form-wrapper {
    border-radius: 12px;
    padding: 37px 50px 37px 50px;
    background: $color-background;
    .title {
        color:  $color-black;
        font-family: $font-title;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 150%; 
        margin-bottom: 30px;
        &--style-1 {
            margin-bottom: 15px;
            font-size: 36px;
        }
    }
    .para-text {
        margin-bottom: 30px;
    }
    .post-comment-form {
        .rt-wrapper {
            .rt-form-container {
                    .input-area {
                        gap: 10px;
                        overflow: hidden;
                        padding-left: 15px;
                        padding-right: 18px;
                        border-radius: 8px;
                        background: $color-white;  
                        margin-bottom: 12px;
                        border: 1px solid  #B5C8C4;
                      &--style-1 {
                        background-color: $color-background;
                      }
                    }
                .input-area {
                    &:focus { 
                        border: 1px solid rgb(48, 20, 20);
                    }
                    margin-bottom: 21px;
                    .rt-form-input {
                        border: none;
                        padding: 18px 8px 18px 0px ;
                        width: 100%;
                        position: relative;
                        &::before {
                            content: url(//media/shape/from-svg-1.svg);
                            position: absolute; 
                            top: 0px;
                        }
                        &--style-1 {
                            background-color: $color-background3;
                        }
                    }
                    .rt-form-textarea {
                        border: none;
                        width: 100%;
                        border-radius: 8px;
                        padding: 30px 20px 30px 4px;
                        &--style-1 {
                            background-color: $color-background3;
                        }
                    }
                    &--style-1 {
                        background-color: $color-background3;
                        border: none;
                      }
                }
                .check-box-area {
                    gap: 12px;
                    margin-bottom: 25px;
                    .rt-comment-post-label {
                        span {
                            color: $color-primary;
                            font-family: $font-body;
                            font-size: 16px;
                            font-style: normal; 
                            font-weight: 400;
                            line-height: 150%;
                            text-decoration-line: underline; 
                        }
                    }
                }
                .form-btn {
                    border: 1px solid transparent;
                    padding: 15px 30px 15px 30px ;
                    background-color: $color-primary;
                    border-radius: 8px;
                    transition: all 0.3s ease-in-out;
                    .rt-form-submit-btn {
                        color: $color-white;
                        font-family:$font-body;
                        font-size: 15px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 150%;
                        transition: all 0.3s ease-in-out;
                    }
                    &--style-2 {
                        width: 100%;
                        text-align: center;
                    }
                    &:hover {
                        background-color: $color-green-900;
                       
                        .rt-form-submit-btn{
                            color: $color-white;
                        }
                    }
                }
            }
        }
    }
    &.style-1 {
        background-color: $color-white;
        box-shadow: 12px 12px 64px 0px rgba(15, 78, 65, 0.12);
    }
    &.style-2 {
        box-shadow:none;
        border: 1px solid  #E5E5E5;
    }
    @media only screen and (max-width: 1200px) {
        padding: 17px 15px 17px 15px;
    }
}