

#sidebar-1 {
  transition: all .7s ease-in-out;
  padding: 104px 38px 60px 38px;
  width:386px;
  height:100%;
  background-color:$color-white !important;
  position:fixed;
  top:0px;
  z-index: 999;
  right:0px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    .close {
      gap:10px;
      display: flex;
      align-items: center;
      position: fixed;
      top: 30px;
      right: 15px;
      background-color: $color-white;
      color:$color-green-800;
      border: none;
      visibility: visible;
      font-size: 35px;
      font-weight:0;
      cursor: pointer;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      padding: 0px 20px;
      position: absolute;
        span {
          color:$color-green-800;
            font-family: $font-body;
            font-size: 17px;
            font-style: normal;
            font-weight: 400;
            line-height: 120%;
            margin-top: 5px;
        }
    }
    .propella-logo {
      padding-top: 22px;
        padding-bottom: 30px;
        margin-bottom: 15px;
        border-bottom: 1px solid #DEE3E2;
    }
    .menu-sidebar {
        padding-bottom: 20px;
        margin-bottom: 20px;
        border-bottom: 1px solid #DEE3E2;
    }
    .contact-wrapper {
        padding-bottom: 20px;
        margin-bottom: 20px;
        border-bottom: 1px solid #DEE3E2;
        .subtitle {
            color: $color-primary;
            font-family: $font-title;
            font-size: 14px;
            font-weight: 700;
            line-height: 28px;
            text-transform: uppercase;
            margin-bottom: 10px;
            gap: 10px;
            span {
                height: 4px;
                width: 4px;
                background-color: $color-primary;
                border-radius: 50%;
                margin-right: -5px;
                &:nth-child(2) {
                    background-color: $color-green-300;
                }
                &:nth-child(3) {
                    background-color: $color-green-100;
                }
            }
        }
        .rt-topbar-details-information {
            .contact {
                display: flex;
                align-items: center;
                gap: 12px;
                a {
                    color:  $color-black;
                    font-family: $font-body;
                    font-size: 15px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 150%; 
                    margin-bottom: 9px;
                    transition: all 0.3s ease-in-out;
                }
                &:hover {
                  a {
                    color: $color-primary;
                  }
                }
            }
        }
        .social-icon-list { 
            gap: 8px;
            li {
              width: 40px;
              height: 40px;
              color:$color-green-800;
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              cursor: pointer;
              line-height: normal; 
              background-color: $color-white;
              padding: 10px 14px 10px 14px ;
              border-radius: 50%;
              transition: all 0.3s ease-in-out;
              border: 1px solid var(--green-dark-green-100, #B5C8C4);
              a {
                .fab {
                  color:$color-green-800;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    transition: all 0.3s ease-in-out;
                }
              }
              &:hover {
                border: none;
                .fab {
                    color: $color-white
                }
                &:nth-child(1) {
                    background-color: #3b5998;
                  }
                  &:nth-child(2) {
                    background-color: #00b9ff;
                  }
                  &:nth-child(3) {
                    background-color: #E60023;
                  }
                  &:nth-child(4) {
                    background-color: #0072b1;
                  }
              }
            }
        }
        &.style-2 {
          border-bottom: none;
        }
    }
    .text {
      color:$color-green-800;
      font-family: $font-body;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin-top: 100px;
    }
}
  #sidebar-1.active{
    left:0px;
    transition:linear .4s left;
  }
  ul{
    list-style:none;
  }
  .menu-item-link {
    text-decoration:none;
    display:block;
    width:180px;
    padding:10px;
    color:$color-black;
    font-size:18px;
  }
  #toggle {
    padding: 45px 44px;
    top: 0px;
    background: $color-white;
    border-left: 1px solid #DEE3E2;
    right: 0px; 
    cursor: pointer;
    @media only screen and (max-width: 1090px) {
      display: none;
    }
  }
  #toggle span {
    height:2px;
    width: 48px;
    background:$color-green-800;
    display:block;
    margin-bottom:15px;
    &:nth-child(2) {
      width: 36px;
    }
  }
  .translate {
    transition: all 0.7s ease-in-out;
    margin-right: -380px;
  }
  .overlay-1 {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.4;
    background-color: rgba(0, 23, 3, 0.7);
    z-index: 999;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }